extends admin_nav

block title
  title User

block admin
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          | Gestion des Membres
        .panel-body
          | Rechercher un membre
          br
          br

          form#signin.navbar-form(method='POST', accept-charset='UTF-8')
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-user
              input#email.form-control(name='name', type='text', placeholder='Nom du membre :')
            button.btn.btn-primary(type='submit', name='submit') Rechercher

          br
          | Liste des membres
          br
          br

          - for account in accounts
            .alert.alert-info
              a.btn.btn-xs.btn-primary.pull-right(href='/admin/user/'+account.pseudo) Editer le membre
              strong= account.pseudo + " "
              = account.prenom + " " + account.nom

