extends admin_nav

block title
  title User Option

block admin
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          | Information de l'utilisateur
        .panel-body
          form.form-horizontal(role='form', action='', method='post')
            fieldset
                  legend Modifier l'utilisateur
                  .form-group
                    label.col-md-4.control-label(for='textinput') Nom
                    .col-md-4
                      input#textinput.form-control.input-md(name='nom', type='text', value='#{account.nom}')
                  .form-group
                    label.col-md-4.control-label(for='textinput') Prénom
                    .col-md-4
                      input#textinput.form-control.input-md(name='prenom', type='text', value='#{account.prenom}')
                  .form-group
                    label.col-md-4.control-label(for='textinput') Age
                    .col-md-4
                      input#textinput.form-control.input-md(name='age', type='number', value='#{account.age}')

                  .form-group
                    label.col-md-4.control-label(for='selectbasic') Selection de la section gestion à afficher
                    .col-md-4
                      select#selectbasic.form-control(name='ville')
                        option(value='#{account.ville}') 
                          if account.ville == 2
                            | Esplanade
                            option(value='0') Les deux
                            option(value='1') Illkirch
                          if account.ville == 1
                            | Illkirch
                            option(value='0') Les deux
                            option(value='2') Esplanade
                          if account.ville == 0
                            | Les deux
                            option(value='1') Illkirch
                            option(value='2') Esplanade



                  .form-group
                    label.col-md-4.control-label(for='textinput') Image de profil
                    .col-md-4
                      input#textinput.form-control.input-md(name='imProfil', type='text', value='#{account.imProfil}')
                  .form-group
                    label.col-md-4.control-label(for='textinput') Image de couverture
                    .col-md-4
                      input#textinput.form-control.input-md(name='imCouv', type='text', value='#{account.imCouv}')
                  .form-group
                    label.col-md-4.control-label(for='textinput') Email
                    .col-md-4
                      input#textinput.form-control.input-md(name='mail', type='text', value='#{account.email}')
                  .form-group
                    label.col-md-4.control-label(for='textarea') Commentaire du membre
                    .col-md-4
                      textarea#textarea.form-control(name='commentaire')= account.commentaire 
                  .form-group
                    label.col-md-4.control-label(for='selectbasic') Selection du Statut
                    .col-md-4
                      select#selectbasic.form-control(name='groupe')
                        option(value='10') Ancien Membre
                        option(value='20') Membre
                        option(value='30') Contributeur
                        option(value='40') Membre d'honneur
                        option(value='50') Chargé de mission
                        option(value='60') Membre du comité
                        option(value='70') Membre du Bureau
                        option(value='80') Administrateur
                  p.lead Laisser vide si vous ne voulez pas modifier :
                  .form-group
                    label.col-md-4.control-label(for='textinput') Nouveau mot de passe
                    .col-md-4
                      input#textinput.form-control.input-md(name='pass1', type='text')
                  .form-group
                    label.col-md-4.control-label(for='textinput') Retaper le mot de passe
                    .col-md-4
                      input#textinput.form-control.input-md(name='pass2', type='text')
                  .form-group
                    label.col-md-4.control-label(for='singlebutton')
                    .col-md-4
                      button#singlebutton.btn.btn-primary(name='singlebutton') Valider
    script.
      $('[name=groupe]').val(#{account.groupe});
