extends admin_nav

block title
  title Section

block admin
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          | Gestion des Catégories de fichier
        .panel-body
          | Ajouter une Catégorie
          br
          br

          form#signin.navbar-form(method='POST', accept-charset='UTF-8')
            .form-group
              label.col-md-4.control-label(for='textinput') Nom
              .col-md-4
                input.form-control(name='name', type='text', placeholder='Nom de la Catégorie :')
            .form-group
                label.col-md-4.control-label(for='selectbasic') Selection du Statut minimum
                .col-md-4
                    select#selectbasic.form-control(name='groupe')
                      option(value='20') Membre
                      option(value='30') Contributeur
                      option(value='40') Membre d'honneur
                      option(value='50') Chargé de mission
                      option(value='60') Membre du comité
                      option(value='70') Membre du Bureau
                      option(value='80') Administrateur
            button.btn.btn-primary(type='submit', name='submit') Ajouter

          br
          | Liste des sections
          br
          br
          - for categoryFile in categoriesFile
            .alert.alert-info
              a.btn.btn-xs.btn-primary.pull-right(href='/admin/file/'+categoryFile.name+'/suppr') Suprimer la catégorie
              a.btn.btn-xs.btn-primary.pull-right(href='#') Modifier la catégorie
              strong= categoryFile.name + " " 
              = " Groupe:" + categoryFile.groupe

