extends admin_nav

block title
  title Theme Option

block admin
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          | Information du Theme
        .panel-body
          form.form-horizontal(role='form', action='', method='post')
            fieldset
                  legend Modifier l'utilisateur
                  .form-group
                    label.col-md-4.control-label(for='textinput') Nom
                    .col-md-4
                      input#textinput.form-control.input-md(name='nom', type='text', value='#{theme.name}')
                  .form-group
                    label.col-md-4.control-label(for='selectbasic') Selection d'une section
                    .col-md-4
                      select#selectbasic.form-control(name='section')
                        -for section in sections
                          option(value='#{section.name}')= section.name
                  .form-group
                    label.col-md-4.control-label(for='singlebutton')
                    .col-md-4
                      button#singlebutton.btn.btn-primary(name='singlebutton') Valider
          a.btn.btn-primary.btn-sm.active(href='/admin/theme/'+theme.section+'/'+theme.name+'/suppr') Suprimer

    script.
      $('[name=section]').val(#{theme.section});
