extends admin_nav

block title
  title Section option

block admin
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          | Gestion des Sections
        .panel-body
          form.form-horizontal(role='form', action='', method='post')
            fieldset
                  legend Modifier une section
                  .form-group
                    label.col-md-4.control-label(for='textinput') Nom
                    .col-md-4
                      input#textinput.form-control.input-md(name='name', type='text', value='#{section.name}')
                  .form-group
                    label.col-md-4.control-label(for='selectbasic') Selection du Statut minimum
                    .col-md-4
                      select#selectbasic.form-control(name='groupe')
                        option(value='0') Tout le monde
                        option(value='10') Ancien Membre
                        option(value='20') Membre
                        option(value='30') Contributeur
                        option(value='40') Membre d'honneur
                        option(value='50') Chargé de mission
                        option(value='60') Membre du comité
                        option(value='70') Membre du Bureau
                        option(value='80') Administrateur
                  .form-group
                    label.col-md-4.control-label(for='singlebutton')
                    .col-md-4
                      button#singlebutton.btn.btn-primary(name='singlebutton') Valider
          a.btn.btn-primary.btn-sm.active(href='/admin/section/'+section.name+'/suppr') Suprimer
          legend Liste des themes
          -for theme in themes
            .alert.alert-info
              a.btn.btn-xs.btn-primary.pull-right(href='/admin/theme/'+section.name+'/'+theme.name) Modifier le theme
              a.btn.btn-xs.btn-primary.pull-right(href='/admin/theme/'+section.name+'/'+theme.name+'/suppr') supprimer le theme
              strong= theme.name + " " 
              = theme.section + " / " + theme.topics.length + " Topics"
    script.
      $('[name=groupe]').val(#{section.groupe});

