extends ../layout

head
  link(rel='stylesheet', href='/stylesheets/admin.css')
  
block content 
  .container-fluid.main-container
    .col-md-2.sidebar
      .row
        .absolute-wrapper  
        .side-menu
          nav.navbar.navbar-default(role='navigation')
            .side-menu-container
              ul.nav.navbar-nav
                li
                  a(href='/admin/user')
                    span.glyphicon.glyphicon-user
                    |  Liste d'utilisateurs
                li
                  a(href='/admin/theme')
                    span.glyphicon.glyphicon-list-alt
                    |  Thème
                li
                  a(href='/admin/section')
                    span.glyphicon.glyphicon-list-alt
                    |  Section
                li
                  a(href='/admin/file')
                    span.glyphicon.glyphicon-list-alt
                    |  Catégorie de fichier
    block admin
