extends admin_nav

block title
  title Section

block admin
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          | Gestion de Section
        .panel-body
          | Ajouter une section
          br
          br

          form#signin.navbar-form(method='POST', accept-charset='UTF-8')
            .form-group
              label.col-md-4.control-label(for='textinput') Nom
              .col-md-4
                input.form-control(name='name', type='text', placeholder='Nom de la Section :')
            .form-group
                label.col-md-4.control-label(for='selectbasic') Selection du Statut minimum
                .col-md-4
                    select#selectbasic.form-control(name='groupe')
                      option(value='0') Tout le monde
                      option(value='10') Ancien Membre
                      option(value='20') Membre
                      option(value='30') Contributeur
                      option(value='40') Membre d'honneur
                      option(value='50') Chargé de mission
                      option(value='60') Membre du comité
                      option(value='70') Membre du Bureau
                      option(value='80') Administrateur
            button.btn.btn-primary(type='submit', name='submit') Ajouter

          br
          | Liste des sections
          br
          br
          - for section in sections
            .alert.alert-info
              a.btn.btn-xs.btn-primary.pull-right(href='/admin/section/'+section.name) Modifier la section
              a.btn.btn-xs.btn-primary.pull-right(href='/admin/section/'+section.name+'/suppr') Suprimer la section
              strong= section.name + " " 
              = section.themes.length + " Thèmes"
              = " Groupe:" + section.groupe

