extends file_nav

block title
  title Liste-File

block file 
  .col-md-10.content
    .panel.panel-default
      .panel-heading
        | Liste des Fichiers
      .panel-body
          - for file in files
            li.slash-list-item
              a(href='/file/'+file.file_name)= file.name
