extends file_nav

block title
  title= file.name

block file 
  .col-md-10.content
    .panel.panel-default
      .panel-heading
        = file.name
      .panel-body
        if file.extension == "png"
          a(href='/uploads/'+file.file_name)
            img(src='/uploads/'+file.file_name, height="90%", width="90%")
        if file.extension == "jpg"
          a(href='/uploads/'+file.file_name)
            img(src='/uploads/'+file.file_name, height="90%", width="90%")
        if file.extension == "jpeg"
          a(href='/uploads/'+file.file_name)
            img(src='/uploads/'+file.file_name, height="90%", width="90%")
        if file.extension == "gif"
          a(href='/uploads/'+file.file_name)
            img(src='/uploads/'+file.file_name, height="90%", width="90%")

        if file.extension == "ogg"
          video(width='95%', height='95%', controls='',src='/uploads/'+file.file_name, type='video/'+file.extension)
        if file.extension == "mp4"
          video(width='95%', height='95%', controls='',src='/uploads/'+file.file_name, type='video/'+file.extension)
        if file.extension == "webm"
          video(width='95%', height='95%', controls='',src='/uploads/'+file.file_name, type='video/'+file.extension)


        if file.extension == "mp3"
          audio(width='95%', height='95%', controls='',src='/uploads/'+file.file_name, type='video/mpeg')
        if file.extension == "m4a"
          audio(width='95%', height='95%', controls='',src='/uploads/'+file.file_name, type='video/mpeg')
        if file.extension == "wav"
          audio(width='95%', height='95%', controls='',src='/uploads/'+file.file_name, type='video/'+file.extension)

        if file.extension == "pdf"
          embed(src='/uploads/'+file.file_name, width='95%', height='500', alt='pdf', pluginspage='http://www.adobe.com/products/acrobat/readstep2.html')




        p
          strong Tags:
          -for tag in file.tags 
            span.tags= tag
              br
              br
        p!= file.text
        .wiki-page-action
          a(href='/file/'+file.file_name+'/edit') Edit
          a(href='/file/'+file.file_name+'/download/') Télécharger
          a(href='/file/'+file.file_name+'/suppr') Supprimer

        br
        br
