extends ../layout
  
block content 
  .container-fluid.main-container
    .col-md-2.sidebar
      .row
        .absolute-wrapper
        .side-menu
          nav.navbar.navbar-default(role='navigation')
            .side-menu-container
              ul.nav.navbar-nav
                if session.account.groupe >= 30
                  li
                    a(href='/file/add')
                      span.glyphicon.glyphicon-upload
                      |  Envoyer un fichier
                li
                  a(href='/file/listeFile')
                    span.glyphicon.glyphicon-dashboard
                    |  Liste des fichiers
                li
                  form(action='/file/search', method='get')
                    .form-group
                      label(for='fileTag') Recherche
                      input#pageTag.form-control(name='fileTag', type='text', placeholder='Entrer un tag')
                    button.btn.btn-primary(type='submit') Submit

    block file
