extends file_nav

block title
  title Edit-File
  
block head
  include ../texteditor.jade

block file 
  .col-md-10.content
    .panel.panel-default
      .panel-heading
        = file.name
      .panel-body
        form#form(action='', method='post')
          .form-group
            label(for='fileTitle') PAGE TITLE
            input#pageTitle.form-control(value='#{file.name}', name='name', type='text', placeholder='Enter Page Title')
          .form-group
            label(for='pageContent') PAGE CONTENT
            textarea#pageContent.form-control(name='explication')!= file.text
          .form-group
            label(for='pageTags') PAGE TAGS
            input#pageTags.form-control(value='#{file.tags}', name='tags', rows='10', placeholder='Entery Page Tags')
          button.btn.btn-primary(type='submit') Submit
          a(href='/t')
            button.btn.btn-danger Cancel  
        br
        br
