extends file_nav

block title
  title Add-File
  
block head
  include ../texteditor.jade

block file 
  if categoriesFile.length !== 0
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          | Ajouter un fichier
        .panel-body
  
          form#form(role="form", action="/file/add", method="post", enctype="multipart/form-data")
            .form-group
              label(for='file') Fichier
              input.form-control(type="file", name="file", id="file")
            .form-group
              label(for='text') Explication
              textarea(style="width: 100%;" name="text")
            .form-group
              label(for='category') Selection de la Catégorie
              select#selectbasic.form-control(name='category')
                  - for category in categoriesFile
                    option(value=category.name,selected='selected')= category.name
  
            .form-group
              label(for='pageTags') Tags
              input#pageTags.form-control(name='tags', rows='10', placeholder='Tags')
            p.lead Tout les points et les espaces avant l'extension seront remplacés par des - 
            button.btn.btn-primary(type='submit') Ajouter
  
          br
          br
    script.
        $('#form').submit(function(){
            this.text.value = advancedEditor.getHTML();
        });

  else
    p Il n'y a pas de catégorie où ajouter un Fichier

