doctype html
html
  //
    "                         
                             _______________________    _____        ______     _________________
                /\          /______________________/|  /___/ |      /____/ |   /________________/\
               /\ \         |                      || |    | |      |    | |  /                 \ \
              /  \ \        |________       _______|/ |    | |      |    | | /    ______________/_/ 
             /    \ \                |     | |        |    | |      |    | | |   | |__________
            /  __  \ \               |     | |        |    | |      |    | | |   |/___________/\
           /  /  \  \ \              |     | |        |    | |      |    | | \                \ \
          /  /____\  \ \             |     | |        |    | |      |    | |  \_____________   \ \
         /            \ \      ______|     | |______  |    | |______|    | |   _____________|  | |  
        /  __________  \ \    /______|     |_______/| \    \/_______/    / /  /_____________|  | | 
       /  / /        \  \ \  |                     ||  \                / /  /                 / /
      /__/_/          \__\_\ |_____________________|/   \______________/_/   \________________/_/
                             
    "
  head
    block title
      title Bienvenue
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/site.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    block head

  body


    header(class="navbar navbar-inverse navbar-static-top bs-docs-nav navbar-fixed-top ", id="top", role="banner")
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') AIUS
        nav(class="collapse navbar-collapse bs-navbar-collapse")
          ul(class="nav navbar-nav")
            li
              a(href='/forum') Forum
            
          ul(class="nav navbar-nav navbar-right")
            if session.isConnect == true
              if session.account.groupe >= 20
                li
                  a(href='/reservation') Reservation

              if session.account.groupe >= 40
                li
                  a(href='/register') Inscription
                  
              if session.account.groupe >= 40
                li
                  a(href='/wiki') Wiki

              if session.account.ville != 1
                if session.account.groupe >= 50
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown') Gestion Esplanade
                      b.caret
                    ul.dropdown-menu
                      li
                        a.btn.btn-default.btn-sm(href='/gestion/cashDesk?local=esplanade') Caisse
                      li
                        a.btn.btn-default.btn-sm(href='/gestion/reservation?local=esplanade') Réservation
                      if session.account.groupe >= 70
                        li
                          a.btn.btn-default.btn-sm(href='/gestion/product?local=esplanade') Gestion des produits
                        li
                          a.btn.btn-default.btn-sm(href='/gestion/category?local=esplanade') Gestion des catégories
                        li
                          a.btn.btn-default.btn-sm(href='/gestion/sellList?local=esplanade') Liste des ventes


              if session.account.ville != 2
                if session.account.groupe >= 50
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown') Gestion Illkirch
                      b.caret
                    ul.dropdown-menu
                      li
                        a.btn.btn-default.btn-sm(href='/gestion/cashDesk?local=illkirch') Caisse
                      if session.account.groupe >= 70
                        li
                          a.btn.btn-default.btn-sm(href='/gestion/product?local=illkirch') Gestion des produits
                        li
                          a.btn.btn-default.btn-sm(href='/gestion/category?local=illkirch') Gestion des catégories
                        li
                          a.btn.btn-default.btn-sm(href='/gestion/sellList?local=illkirch') Liste des ventes



              if session.account.groupe >= 80
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown') Administration 
                    b.caret
                  ul.dropdown-menu
                    li
                      a.btn.btn-default.btn-sm(href='/admin/user') Gestion Utilisateurs
                    li
                      a.btn.btn-default.btn-sm(href='/admin/theme') Gestion Thème
                    li
                      a.btn.btn-default.btn-sm(href='/admin/section') Gestion Section
                    li
                      a.btn.btn-default.btn-sm(href='/admin/file') Gestion Catégorie fichier

              if session.account.groupe >= 20
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown') Fichier 
                    b.caret
                  ul.dropdown-menu
                    li
                      a.btn.btn-default.btn-sm(href='/file/listeFile') Liste des fichiers
                    if session.account.groupe >= 30
                      li
                        a.btn.btn-default.btn-sm(href='/file/add') Envoyer un fichier

            li
              a(href='/about') À propos
            if session.isConnect == true
              li.dropdown.hidden-xs.hidden-sm
                a.dropdown-toggle(href='#', data-toggle='dropdown') Compte 
                  b.caret
                ul.dropdown-menu
                  li
                    .navbar-content
                      .row
                        .col-md-5
                          img.img-responsive(src=session.account.imProfil, alt='Alternate Text')
                          p.text-center.small
                        .col-md-7
                          a(href='/profil/'+session.account.pseudo)
                            span= session.account.pseudo
                          p.text-muted.small= session.account.commentaire
                          .divider
                    .navbar-footer
                      .navbar-footer-content
                        .row
                          .col-md-6
                            a.btn.btn-default.btn-sm(href='/profil/'+session.account.pseudo+'/modifier') Modifier son profil
                          .col-md-6
                            a.btn.btn-default.btn-sm.pull-right(href='/disconnect') Se déconnecter
              li.visible-xs.visible-sm
                a(href='/profil/'+session.account.pseudo) Profil
              li.visible-xs.visible-sm
                a(href='/disconnect') Se déconnecter
            else
              li
                a(href='/connect') Se connecter

  .container
    .row
      .col-lg-12.text-center.hidden-xs.hidden-sm
        img(src="/images/banner-aius.png")
      .col-lg-12.text-center.visible-xs.visible-sm
        img(src="/images/banner-aius-small.png", width="200", height="200")

    .container   
      .row
        .col-lg-12.text-center
          block content
  footer
    .container.text-center
      hr
      .row
        .col-lg-12
          ul.nav.nav-pills.nav-justified
            if session.isConnect == true
              li
                a(href='/irc')
                  img(src="/images/irc-icon.png" width="25" height="25")
            li
              a(href='https://www.facebook.com/aius.strasbourg')
                img(src="/images/fb-icon.png" width="20" height="20")
            li
              a(href='https://twitter.com/AIUStrasbourg')
                img(src="/images/tw-icon.png" width="22" height="22")
            li
              a(href='https://plus.google.com/107241463754644103469/posts')
                img(src="/images/gg-icon.png" width="25" height="25")
            li
              a(href='/') © 2015 AIUS
    script(src='/bootstrap/js/bootstrap.js')
