extends layout

block title
  title=account.pseudo

block head
  link(rel='stylesheet', href='/stylesheets/admin.css')

block content 
  .container-fluid.main-container
    .col-md-2.sidebar
      .row
        .absolute-wrapper  
    .panel.panel-default
        .panel-heading
          | Modifier son profil
        .panel-body

          form#form(role="form", method="post", enctype="multipart/form-data")
            .form-group
              label(for='pageTitle') Prénom 
              col-md-4
                input#pageTitle.form-control(type="text", name="prenom", value='#{account.prenom}')
            .form-group
              label(for='pageTitle') Nom 
              col-md-4
                input#pageTitle.form-control(type="text", name="nom", value='#{account.nom}')
            .form-group
              label(for='pageTitle') Email 
              col-md-4
                input#pageTitle.form-control(type="text", name="email", value='#{account.email}')
            .form-group
              label(for='pageTitle') Age 
              col-md-4
                input#pageTitle.form-control(type="number", name="age", value='#{account.age}')

            .form-group
              label.control-label(for='selectbasic') Selection de la section gestion à afficher
              .col-md-4
                select#selectbasic.form-control(name='ville')
                  option(value='#{account.ville}') 
                    if account.ville == 2
                      | Esplanade
                      option(value='0') Les deux
                      option(value='1') Illkirch
                    if account.ville == 1
                      | Illkirch
                      option(value='0') Les deux
                       option(value='2') Esplanade
                    if account.ville == 0
                      | Les deux
                      option(value='1') Illkirch
                      option(value='2') Esplanade
            .form-group
              label(for='pageTitle') Commentaire 
              col-md-4
                input#pageTitle.form-control(type="text", name="commentaire", value='#{account.commentaire}')
            .form-group
              label(for='pageTitle') Champ descriptif 
              col-md-4
                input#pageTitle.form-control(type="text", name="champDescriptif", value='#{account.champDescriptif}')
            .form-group
              label(for='pageTitle') Image de profil
              col-md-4 
                input.form-control(type="file", name="file1", id="file1")
            .form-group
              label(for='pageTitle') Image de Couveture
              col-md-4
                input.form-control(type="file", name="file2", id="file2")
            p.lead Laisser vide si vous ne voulez pas modifier :
            .form-group
              label(for='textinput') Mot de passe actuel
              .col-md-4
                input#textinput.form-control.input-md(name='oldpass', type='password')
            .form-group
              label(for='textinput') Nouveau mot de passe
              .col-md-4
                input#textinput.form-control.input-md(name='pass1', type='password')
            .form-group
              label(for='textinput') Retaper le mot de passe
              .col-md-4
                input#textinput.form-control.input-md(name='pass2', type='password')
            button.btn.btn-primary(type='submit') Modifier

          br
          br



