extends layout
block title
  title=account.pseudo
  
block head
  script(src='/javascripts/affichePosts.js')
  link(rel='stylesheet', href='/stylesheets/profil.css')
  link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')

block content
  .container
    .fb-profile
      img.fb-image-lg(align='left', src=account.imCouv, alt='Couverture image example')
      img.fb-image-profile.thumbnail(align='left', src=account.imProfil, alt='Profile image example')
      .fb-profile-text
        h1= account.pseudo
        h3= account.prenom + " " + account.nom
        p= account.commentaire


  


