extends layout

block title
  title="Inscrire un membre"

block head
  link(rel='stylesheet', href='/stylesheets/register.css')
  
block content
  h1= title
  .container
       .row
         .span4.offset4.well
           legend Rejoignez nous !
           .alert.alert-error
             a.close(data-dismiss='alert')
           span= err
           .row
             section.col-sm-offset-4.col-sm-4
               form(method='post', action='/register', accept-charset='UTF-8', name='login', id="formRegister")
                 input#pseudo.span4.form-control(type='text', name='pseudo', placeholder="Nom d'utilisateur")
                 div#tooltip-pseudo.tooltip.fade.right.in(role="tooltip")
                   div.tooltip-arrow(style="right: 50%;")
                   div.tooltip-inner test
                 br
                 br
                 input#email.span4.form-control.email(type='text', name='email', placeholder='Email')
                 div#tooltip-email.tooltip.fade.right.in(role="tooltip" )
                   div.tooltip-arrow(style="right: 50%;")
                   div.tooltip-inner test
                 br
                 br
                 input#pass.span4.form-control(type='password', name='pass', placeholder='Mot de passe')
                 div#tooltip-pass.tooltip.fade.right.in(role="tooltip")
                   div.tooltip-arrow(style="right: 50%;")
                   div.tooltip-inner test
                 br
                 br
                 input#pass2.span4.form-control(type='password', name='pass2', placeholder='Confirmer le mot de passe')
                 div#tooltip-pass2.tooltip.fade.right.in(role="tooltip")
                   div.tooltip-arrow(style="right: 50%;")
                   div.tooltip-inner test
                 br
                 br
                 button.btn.btn-info(type='submit', name='submit') S'enregistrer
                 br
  script(src='/javascripts/register.js')
