#liste td{
  text-align:  left;
}

@media screen and (min-width: 641px){
  .product {
    display: inline-block;
    margin-right : 5px;
    margin-left : 5px;
    cursor : pointer;
    width : 150px;
    height : 190px;
    overflow: hidden;
    color : #333;
    border : 1px inset #777;
    border-bottom-color : #707;
    border-right-color : #607;
    box-shadow: 2px 1px 8px #aaa; 
    border-radius : 0px 9px;
  }

  .product img {
    border-bottom : 1px solid #aaa;
    padding-top: 2px;
    padding-bottom: 2px;
    height : 90%;
    width : 100%;
  }
}

@media screen and (max-width: 640px){
  .product {
    display: inline-block;
    padding : 2px;
    margin-right : 3px;
    margin-left : 3px;
    cursor : pointer;
    width : 150px;
    overflow: hidden;
    color : #333;
    border : 1px inset #777;
    border-bottom-color : #707;
    border-right-color : #607;
    box-shadow: 2px 1px 8px #aaa; 
    border-radius : 0px 9px;
  }

  .product img {
    display : none;
  }
}
