extends ../layout

block title
  title Forum
  
block head
  link(rel='stylesheet', href='/stylesheets/forum.css')
  
block content
  .row
    .widget-box
      .widget-header.bordered-bottom.bordered-themesecondary
        i.widget-icon.fa.fa-tags.themesecondary
        h5.widget-caption.themesecondary
          a(href='/forum') Forum
        h5.widget-caption.themesecondary > 
        h5.widget-caption.themesecondary
          a(href='/forum')= theme.section
        h5.widget-caption.themesecondary > 
        h5.widget-caption.themesecondary
          a(href="/forum/#{theme.section}/#{theme.name}")= theme.name
      .widget-body
        .widget-main.no-padding
          .tickets-container
            if session.isConnect == true
              a.btn.btn-success(href="/forum/#{theme.section}/#{theme.name}/new")
                span.glyphicon.glyphicon-plus
                |  Créer un nouveau sujet
              br
              br
            ul.tickets-list
              for topic in topics
                li.ticket-item
                  .row
                   .ticket-user.col-md-6.col-sm-12
                     img.user-avatar(src='http://bootdey.com/img/Content/user_1.jpg')
                     a(href='/forum/#{topic.section}/#{topic.theme}/#{topic.name}')
                       span.user-name= topic.name
                     span.user-at par
                     a(href='/profil/#{topic.pseudoCreateur}')
                       span.user-company= topic.pseudoCreateur
                   .ticket-time.col-md-4.col-sm-6.col-xs-12
                      .divider.hidden-md.hidden-sm.hidden-xs
                      i.fa.fa-clock-o
                      span.time= topic.date
                   .ticket-type.col-md-2.col-sm-6.col-xs-12
                      span.divider.hidden-xs
                      span.type Issue
                   .ticket-state.bg-yellow
                      i.fa.fa-info



