extends wiki_nav

block title
  title Wiki-#{page.title}

block head
  include ../syntaxHighlighter.jade

block wiki
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          = page.title
        .panel-body
          p
            strong Tags:
            -for tag in page.tags 
              span.tags= tag
                br
                br
          p!= page.body
          .wiki-page-action
            a(href='/wiki/'+page.title+'/edit') Edit

          br
          br
