extends wiki_nav

block title
  title Add page
  
block head
  include ../texteditor.jade

block wiki
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          | Ajouter une page
        .panel-body
          form#form(action='', method='post')
            .form-group
              label(for='pageTitle') Titre de la page
              input#pageTitle.form-control(name='pageTitle', type='text', placeholder='Titre de la page')
            .form-group
              label(for='pageContent') Contenu de la page
              textarea(style="width: 100%;" name="pageContent")              
            .form-group
              label(for='pageTags') Tags
              input#pageTags.form-control(name='pageTags', rows='10', placeholder='Tags')
            button.btn.btn-primary(type='submit') Ajouter
          br
          br
