extends wiki_nav

block title
  title Search page

block wiki
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          | Search Page
        .panel-body
          if(pages == null)
            p pas de page trouver
          else
            ul
            -for page in pages
              li.slash-list-item
                a(href='/wiki/'+page.title)= page.title
