extends gestion_nav

block title
  title Liste des reservation
  
block headGestion
  script(src='/javascripts/reservation.js')

block gestion
  .col-md-10.content
      .panel.panel-default
        .panel-heading
          | Gestion des Réservations
        .panel-body
          h2 Réservation Croc
          .col-lg-4
            input(name="nameCroc", type="text", placeholder="Nom")
            br
            br
            select(name="menu", onchange="afficheMenu()")
              option(value="menu") Menu 
              option(value="croc") Simple Croc
              option(value="choco") Croc choco
          .col-lg-4       
            #commande
              #croc1 Croc 1 : 
                select(name='pain1')
                  option(value='nature') Nature
                  option(value='complet') Complet 
                select(name='viande1')
                  option(value='jambon') Jambon
                  option(value='poulet') Poulet
                label Tomate 
                  input(name='tomate1', type='checkbox', value='true')
              #croc2 Croc 2 : 
                select(name='pain2')
                  option(value='nature') Nature
                  option(value='complet') Complet 
                select(name='viande2')
                  option(value='jambon') Jambon
                  option(value='poulet') Poulet
                label Tomate 
                  input(name='tomate2', type='checkbox', value='true')
               span 12h
                 input(name="heure" type="number"  min=0 max=59 value=0)
          .col-lg-4      
            button(onclick="envoiCroc()") Réserver
            #prixCroc
          .row
            table.table.table-bordered.table-striped.table-condensed
              caption 
                h3 Liste des Crocs
                button(onclick="rechargerListe()") Recharger
                h4 Nombre de croc salé : 
                span#sale
                h4 Nombre de croc sucre : 
                span#sucre
              thead
                tr
                  th Nom
                  th Croc 1
                  th Croc 2
                  th Heure
                  th Prix
                  th Payer
                  th Servi
                  th Annuler
              tbody#listeCrocs
              tfoot
                tr
                  th Nom
                  th Croc 1
                  th Croc 2
                  th Heure
                  th Prix
                  th Payer
                  th Servi
                  th Annuler
          h2 Réservation Cable
          .col-lg-6
            input(name="nameCable", type="text", placeholder="Nom")
            br
            br
          .col-lg-6
            label longeur du cable : 
              input(type="number", name="longeur", min=0, max=50, onchange="prixCable()")
            label croisé
              input(type="checkbox", name="croise")
            br
            button(onclick="envoiCable()") Réserver
            #prixCable
          .row
            table.table.table-bordered.table-striped.table-condensed
              caption 
                h3 Liste des Cable
                button(onclick="rechargerListeCable()") Recharger
              thead
                tr
                  th Nom
                  th Longeur
                  th Croise
                  th Prix
                  th Payer
                  th Prêt
                  th Annuler
              tbody#listeCable
              tfoot
                tr
                  th Nom
                  th Longeur
                  th Croise
                  th Prix
                  th Payer
                  th Prêt
                  th Annuler
  script.
    rechargerListe();
