extends gestion_nav

block title
  title Liste de ventes
  
block headGestion
  script(src='/javascripts/cashDesk.js')

block gestion
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          | Liste des ventes
        .pannel-body
          table.table.table-bordered.table-striped.table-condensed
            caption du
              input#date1day(type='number', min=1 , max=31, value=date1.getDate())
              input#date1month(type='number', min=1 , max=12, value=date1.getMonth()+1)
              input#date1year(type='number', min=2015, value=date1.getFullYear())
              |au
              input#date2day(type='number', min=1 , max=31, value=date2.getDate())
              input#date2month(type='number', min=1 , max=12, value=date2.getMonth()+1)
              input#date2year(type='number', min=2015, value=date2.getFullYear())
              buttom.btn.btn-info.pull-right(onclick="listeVente()") Afficher
              #total.pull-right
            thead
              tr
                td Vendeur
                td Produits
                td Date
                td Prix
            tfoot
              tr
                td Vendeur
                td Produits
                td Date
                td Prix
            tbody#listeVente
