extends gestion_nav

block title
  title Produit option

block gestion
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          | Gestion des Produits
        .panel-body
          form.form-horizontal(role='form', action='', method='post', enctype="multipart/form-data")
            fieldset
                  legend Modifier un produit
                  .form-group
                    label.col-md-4.control-label(for='textinput') Nom
                    .col-md-4
                      input#textinput.form-control.input-md(name='name', type='text', value='#{product.name}')
                  .form-group
                    label.col-md-4.control-label(for='textinput') Prix en centimes
                    .col-md-4
                      input#textinput.form-control.input-md(name='prix', type='number', value='#{product.prix}')
                  .form-group
                    label.col-md-4.control-label(for='textinput') Stock
                    .col-md-4
                      input#textinput.form-control.input-md(name='stock', type='number', value='#{product.stock}')
                  .form-group
                    label.col-md-4.control-label(for='textinput') Nom
                    .col-md-4
                      input#textinput.form-control.input-md(name='category', type='text', value='#{product.category}')
                   .form-group
                     label.col-md-4.control-label(for='file') Image
                     .col-md-4
                       input.form-control(type="file", name="file", id="file", accept='image/*')

                  .form-group
                    label.col-md-4.control-label(for='singlebutton')
                    .col-md-4
                      button#singlebutton.btn.btn-primary(name='singlebutton') Valider
          a.btn.btn-primary.btn-sm.active(href='/gestion/product/'+product.name+'/suprr?local='+local) Suprimer


