extends gestion_nav

block title
  title category

block gestion
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          | Gestion des Categories
        .panel-body
          | Ajouter une categorie
          br
          br


          form#signin.navbar-form(method='POST', accept-charset='UTF-8')
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-pencil
              input#email.form-control(name='category', type='text', placeholder='Nom de la catégorie :')
            button.btn.btn-primary(type='submit', name='submit') Ajouter

          br
          | Liste des categories
          br
          br
          - for category in categories
            .alert.alert-info
              a.btn.btn-xs.btn-primary.pull-right(href='/gestion/category/'+category.name +'?local='+local) Modifier la categorie
              strong= category.name

