extends gestion_nav

block title
  title Categorie option

block gestion
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          | Gestion des Catégories
        .panel-body
          form.form-horizontal(role='form', action='', method='post')
            fieldset
                  legend Modifier une catégorie
                  .form-group
                    label.col-md-4.control-label(for='textinput') Nom
                    .col-md-4
                      input#textinput.form-control.input-md(name='name', type='text', value='#{category.name}')
                  .form-group
                    label.col-md-4.control-label(for='singlebutton')
                    .col-md-4
                      button#singlebutton.btn.btn-primary(name='singlebutton') Valider
          a.btn.btn-primary.btn-sm.active(href='/gestion/category/'+category.name+'/suprr?local='+local) Suprimer

