extends gestion_nav

block title
  title Stock
  
block gestion
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          | Liste des ventes
        .panel-body
          br
          | Liste des ventes
          br
          br
          .alert.alert-info
            strong Nom du produit
            |  nombre 
            |  date 

