extends ../layout

block title
  title Edit-A propos

block head
  include ../texteditor.jade

block content
  form#form(action='', method='post')
    .form-group
      label(for='indexContent') Contenu de la page
      textarea(name="contenu")
        != about.contenu
    button.btn.btn-primary(type='submit') Valider
