extends index_nav

block title
  title Index liste

block index
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          | Liste des Pages
        .panel-body
            - for index in indexes
              li.slash-list-item
                a(href='/news/'+index.title)= index.title
