extends index_nav

block title
  title Add page

block head
  include ../texteditor.jade

block index
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          | Ajouter une page
        .panel-body
          form#form(action='', method='post')
            .form-group
              label(for='pageTitle') Titre de la page
              input#pageTitle.form-control(name='indexTitle', type='text', placeholder='Titre de la page')
            .form-group
              label(for='indexContent') Contenu de la page
              textarea(style="width: 100%;" name="indexContent")
            button.btn.btn-primary(type='submit') Ajouter

          br
          br
